@media only screen and (max-width: 600px) {
  .custom_download_box {
    width: calc(100% - 1rem);
    z-index: 5;
    position: absolute;
    left: 0.5rem;
    top: 3.5rem;
  }
}

@media only screen and (min-width: 600px) {
  .custom_download_box {
    width: calc(100% - 2rem);
    max-width: max-content;
    z-index: 5;
    position: absolute;
    right: 1rem;
    top: 1rem;
  }
}

.full_width {
  width: 100%;
}
